@charset "UTF-8";
/* PlentyOfSubs Formatting CSS
	Jianzhuo Wu, March 2012 */
	
body {
	background:#eeeeee url(../img/layout/bg.png) repeat;
	font-family:"Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size:1em;
	margin:0;
}

a, a:visited {
	color:#009977;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color:#007799;
}

a:active {
	color:#e14b4b;
}

a img {
	border:0;
}
	
img {
	margin:0;
	padding:0;
}

h1 {
	color:#000;
	font-size:2.25em;
	font-weight:bold;
	text-transform:uppercase;
	padding:5px 180px 5px;
	margin:0.5em 0;
	border-bottom:#009977 3px solid;
}

h2 {
	color:#000000;
	font-size:1.5em;
	text-indent:1.25em;
	font-weight:bold;
	text-transform:uppercase;
	padding:0 5px 5px 5px;
	margin:0.5em 0;
	border-bottom:#000000 1px dotted;
}

h3 {
	color:#007799;
	font-size:1.25em;
	font-weight:bold;
	margin:0 0 0.25em 0;
}

h4 {
	color:#000000;
	font-size:1.25em;
	font-weight:bold;
	margin:0 0 0.25em 0;
}

a.submitButton, a.resetButton {
	display:inline-block;
	width:159px;
	height:30px;
	color:#ffffff;
	font-size:1.375em;
	text-align:center;
	padding:3px 0 0 0;
	overflow:hidden;
}

a.submitButton {
	background:url(../img/layout/submit_button.png) no-repeat;
}

a.submitButton:hover {
	background:url(../img/layout/submit_button_hover.png) no-repeat;
}

a.resetButton {
	background:url(../img/layout/reset_button.png) no-repeat;
}

a.resetButton:hover {
	background:url(../img/layout/reset_button_hover.png) no-repeat;
}

a.submitButton:active, a.resetButton:active {
	color:#000000;
}

table {
	width:100%;
	font-size:0.825em;
	border-collapse:collapse;
}

th {
	height:2.25em;
	font-weight:bold;
	border-bottom:#000000 1px solid;
}

tr:nth-child(odd) {
	background:#dbf3ff;
}

tr:nth-child(even) {
	background:#ffffff;
}

tr:first-child {
	background:url(../img/layout/table_header_bg.png) top repeat-x;
}

tr:nth-child(n+2):hover {
	background:#007799;
	color:#ffffff;
}
