@charset "UTF-8";
/* PlentyOfSubs Page Layers CSS
	Jianzhuo Wu, March 2012 */

#fullContent {
	float:right;
	width:776px;
	padding:0;
	margin:0;
}

#leftContent {
	float:left;
	width:466px;
	padding:0;
	margin:0 24px 0 180px;
}

/* --- leftContent under a fullContent doesn't need the 180px push from left --- */
#fullContent #leftContent {
	margin:0 24px 0 0;
}

#rightContent {
	float:right;
	width:286px;
	padding:0;
	margin:0;
}

#fullContent h1:first-child, #leftContent h1:first-child, #rightContent h1:first-child {
	margin:1.25em 0 0 0;
}

/* --- ERROR AND FLASH MESSAGES --- */

.error-message, .flash-error, .flash-success, .flash-warning {
	font-size:1em;
	font-weight:bold;
}
/* Form Error Messages */
.error-message {
	display:list-item;
	color:#e14b4b;
	list-style-type:square;
	margin-left:1em;
}
/* Flash Error Messages and Flash Success Messages */
.flash-error, .flash-success, .flash-warning {
	color:#ffffff;
	text-align:center;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	padding:0.25em 1.25em;
	margin:0.5em 0 0 0;
	border:1px #000000 solid;
	border-radius:4px;
}

.flash-warning {
	background:#000088;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#000088));
	background-image:-webkit-linear-gradient(top, #6666cc, #000088);
	background-image:-moz-linear-gradient(top, #6666cc, #000088);
	background-image:-ms-linear-gradient(top, #6666cc, #000088);
	background-image:-o-linear-gradient(top, #6666cc, #000088);
	background-image:linear-gradient(top, #6666cc, #000088);
}

.flash-error {
	background:#880000;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#cc6666), to(#880000));
	background-image:-webkit-linear-gradient(top, #cc6666, #880000);
	background-image:-moz-linear-gradient(top, #cc6666, #880000);
	background-image:-ms-linear-gradient(top, #cc6666, #880000);
	background-image:-o-linear-gradient(top, #cc6666, #880000);
	background-image:linear-gradient(top, #cc6666, #880000);
}

.flash-success {
	background:#008800;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#66cc66), to(#008800));
	background-image:-webkit-linear-gradient(top, #66cc66, #008800);
	background-image:-moz-linear-gradient(top, #66cc66, #008800);
	background-image:-ms-linear-gradient(top, #66cc66, #008800);
	background-image:-o-linear-gradient(top, #66cc66, #008800);
	background-image:linear-gradient(top, #66cc66, #008800);
}

/* --- HOME PAGE --- */
#introPage {
	width:960px;
	color:#808080;
	text-align:center;
	font-weight:normal;
}

#introPage > p {
	font-size:1.125em;
}

#signUpButton {
	display:inline-block;
	width:275px;
	height:65px;
	color:#ffffff;
	font-size:1.325em;
	font-weight:bold;
	line-height:40px;
	text-shadow:1px 1px 1px #000000;
	background:#008800;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#66cc66), to(#008800));
	background-image:-webkit-linear-gradient(top, #66cc66, #008800);
	background-image:-moz-linear-gradient(top, #66cc66, #008800);
	background-image:-ms-linear-gradient(top, #66cc66, #008800);
	background-image:-o-linear-gradient(top, #66cc66, #008800);
	background-image:linear-gradient(top, #66cc66, #008800);
	border:1px #44aa44 solid;
	border-radius:6px;
}

#signUpButton:hover {
	color:#ffffff;
	text-shadow:1px 1px 1px #000000;
	background:#119911;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#77dd77), to(#119911));
	background-image:-webkit-linear-gradient(top, #77dd77, #119911);
	background-image:-moz-linear-gradient(top, #77dd77, #119911);
	background-image:-ms-linear-gradient(top, #77dd77, #119911);
	background-image:-o-linear-gradient(top, #77dd77, #119911);
	background-image:linear-gradient(top, #77dd77, #119911);
}

.title {
	color:#000000;
	font-size:3em;
	font-weight:bold;
	font-variant:small-caps;
	margin:0.5em 0;
}

.introBlock {
	float:left;
	width:222px;
	text-align:left;
	margin:24px 24px 0 0;
}

.introBlock:last-child {
	 margin-right:-24px;
}

.introBlock > strong {
	color:#000000;
	font-size:1.125em;
}
	
/* --- DASHBOARD PAGE --- */
#dashboardNewsList {
	list-style:none;
	padding:0;
}

#dashboardNewsList a li {
	color:#000000;
	font-weight:normal;
	padding:12px 6px 0;
	border-bottom:#000000 1px dotted;
}

#dashboardNewsList a:last-child li {
	border:0;
}

#dashboardNewsList a li:hover {
	background:#dbf3ff;
}

#dashboardNewsList a li p {
	text-indent:2em;
}

#dashboardCalendar {
}

#dashboardNews, #dashboardCalendar {
	margin:0 0 40px;
}

#dashboardAbsenceList, #dashboardAbsenceList {
	margin:0 0 20px;
}

#dashboardAbsenceList table, #dashboardApplicantsList table {
	border:1px #000 solid;
}

/* --- ABSENCE PAGE --- */

.absences index {
	margin:10em;
}
